
version: "3.8"

services:
  sb-app:
    image: 'azziiz/springboot'
    build: .
    container_name: 'applicationspringboot'
    ports:
      - 9090:9090
    networks:
      - mynetwork
    depends_on:
      - dbmongo

  dbmongo:
    image: mongo:latest
    container_name: 'mongodb'
    ports:
      - 27017:27017
    networks:
      - mynetwork
    

networks:
  mynetwork:
    driver: bridge
